.titulo {
    font-size: 2.7vw;
    color: #605151;
}

.subtitulo {
    font-size: 1.2vw;
    font-weight: normal;
    margin-bottom: 30px;
    color: #605151;
}

@media (max-width: 1024px) {
    .titulo {
        font-size: 2rem; 
    }

    .subtitulo {
        font-size: 1.2rem; 
    }
}

@media (max-width: 600px) {
    .titulo {
        font-size: 2rem; 
    }

    .subtitulo {
        font-size: 1.3rem; 
    }
}
